@model List<DOAN.Models.tblDanhMucSP>
@foreach (var item in Model)
{
    <tr>
        <td>
            <a href="@Url.Action("SanPhamTheoDanhMuc", "SanPham", new { id = item.MaDanhMuc})" class="nav-item nav-link pt-3 pb-3">
                @Html.DisplayFor(modelItem => item.TenDanhMuc)
            </a>
        </td>
    </tr>
}
