
@{
    ViewBag.Title = "Trang giới thiệu";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Theme/css/GioiThieu.css" rel="stylesheet" />

<span class="container-fluid text-dark pl-5 pr-5 pt-5 nav-title" style="font-size: 1.2rem; margin-left: 16px;">Trang chủ > <span class="text-primary">Giới thiệu</span></span>
<div class="container-fluid">

    <div class="row pl-5 pr-5 pt-4">
        <div class="col-5">
            <img src="~/Theme/img/sp30.jpg" width="500" class="rounded" />
        </div>
        <div class="col-7">
            <h2>Về cửa hàng</h2>
            <div class="mt-4 text-dark">
                <p>
                    Kính mắt Tidoki Eyewear chuyên cung cấp các sản phẩm kính mắt như: Kính râm, kính áp tròng, tròng kính râm,
                    kính thời trang, gọng nhựa, gọng kim loại,...
                </p>
                <p>
                    Sứ mệnh chính của kính mắt Tidoki Eyewear là sử dụng tất cả tâm huyết, tài năng của chúng tôi để đem đến
                    cho quý khách một cặp mắt kính chất lượng, thẩm mỹ, ví như một thành lũy kiên cố kiên cố, vững chãi, để
                    bảo vệ đôi mắt của quý khách hàng khỏi các tác nhân gây hại từ bên ngoài.
                </p>
                <p>
                    Chúng tôi đã, đang và sẽ nỗ lực mỗi ngày, để đưa những cặp mắt kính chất lượng, giá cả phải chăng đến với
                    người tiêu dùng Việt Nam
                </p>
            </div>
        </div>
    </div>

    <div class="row pl-5 pr-5 pt-5 mt-4">
        <div class="col-7">
            <h2>Về nhân viên</h2>
            <div class="mt-4 text-dark">
                <p>
                    Nhân viên của chúng tôi là những chuyên viên đầy nhiệt huyết, động lực và sự tận tâm của họ là điều kiện
                    sống còn làm nên thành công của Tidoki Eyewear
                </p>
                <p>
                    Tất cả nhân viên đều được trang bị công cụ giúp họ thành công thông qua đào tạo, thử thách và cơ hội, những
                    ý tưởng từ các cá nhân mong muốn phát triển và hỗ trợ Tidoki Eyewear cũng như khách hàng của chúng tôi đều
                    được chào đón
                </p>
                <p>
                    Với những cuộc họp nội bộ thường xuyên và giao tiếp cởi mở, chúng tôi đem lại cho các nhân viên phát triển
                    chuyên môn của mình nhằm cung cấp dịch vụ tốt nhất
                </p>
            </div>
        </div>
        <div class="col-5 pl-5">
            <img src="~/Theme/img/sp33.jpg" width="500" class="rounded" />
        </div>
    </div>

    <div class="pl-5 pr-5 pt-5 mt-5">
        <div class="policy bg-primary">
            <h3>CHÍNH SÁCH KHÁCH HÀNG</h3>
        </div>
        <div class="row mt-4">
            <div class="policy_detail col-4 pl-2 pr-2">
                <div class="title bg-primary">
                    <h3 class="pt-3 pb-3 text-center text-white">KHÁCH HÀNG GIỚI THIỆU</h3>
                </div>
                <div class="policy_sale">
                    <span class="text-dark span1">10</span>
                    <span class="text-dark span2">%</span>
                    <span class="text-dark span3">Sale off</span>
                </div>
                <ul class="text-dark">
                    <li>
                        <div>
                            <i class="icon far fa-check-circle"></i>
                            <span>Điều kiện: khách hàng cũ giới thiệu cho khách hàng mới</span>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div>
                            <i class="icon far fa-check-circle"></i>
                            <span>Quyền lợi: giảm 10% trên hóa đơn mua hàng của khách hàng mới</span>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div>
                            <i class="icon far fa-check-circle"></i>
                            <span>Hỗ trợ: chiết khấu cao nếu gặp sự cố, mất kính trong 90 ngày</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="policy_detail col-4 pl-2 pr-2">
                <div class="title bg-primary">
                    <h3 class="pt-3 pb-3 text-center text-white">KHÁCH HÀNG GIỚI THIỆU</h3>
                </div>
                <div class="policy_sale">
                    <span class="text-dark span1">10</span>
                    <span class="text-dark span2">%</span>
                    <span class="text-dark span3">Sale off</span>
                </div>
                <ul class="text-dark">
                    <li>
                        <div>
                            <i class="icon far fa-check-circle"></i>
                            <span>Điều kiện: khách hàng đã mua tổng hóa đơn trên 5 triệu đồng hoặc khách hàng cũ quay lại</span>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div>
                            <i class="icon far fa-check-circle"></i>
                            <span>Quyền lợi: giảm 10% trên hóa đơn mua hàng của khách hàng</span>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div>
                            <i class="icon far fa-check-circle"></i>
                            <span>Hỗ trợ: chiết khấu cao nếu gặp sự cố, mất kính trong 90 ngày</span>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="policy_detail col-4 pl-2 pr-2">
                <div class="title bg-primary">
                    <h3 class="pt-3 pb-3 text-center text-white">KHÁCH HÀNG GIỚI THIỆU</h3>
                </div>
                <div class="policy_sale">
                    <span class="text-dark span1">15</span>
                    <span class="text-dark span2">%</span>
                    <span class="text-dark span3">Sale off</span>
                </div>
                <ul class="text-dark">
                    <li>
                        <div>
                            <i class="icon far fa-check-circle"></i>
                            <span>Điều kiện: khách hàng đã mua tổng hóa đơn trên 5 triệu đồng trong 12 tháng</span>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div>
                            <i class="icon far fa-check-circle"></i>
                            <span>Quyền lợi: giảm 10% trên hóa đơn mua hàng của khách hàng mới</span>
                        </div>
                        <hr />
                    </li>
                    <li>
                        <div>
                            <i class="icon far fa-check-circle"></i>
                            <span>Hỗ trợ: chiết khấu cao nếu gặp sự cố, mất kính trong 90 ngày</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <span class="text-primary text-footer" style="color: #FF4858 !important;">Liên hệ nhân viên tư vấn của chúng tôi để nhận được những ưu đãi và hỗ trợ tốt nhất</span>
</div>
