
@{
    ViewBag.Title = "Trang tin tức";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Theme/css/TinTuc.css" rel="stylesheet" />

<span class="container-fluid text-dark p-5 nav-title" style="font-size: 1.2rem; margin-left: 8px;">Trang chủ > <span class="text-primary">Tin tức</span></span>
<div class="main row mt-3">
    <div class="left col-8">
        <img src="~/Theme/img/eye.jpg" />

        <div class="list-post">

            <div class="row post mt-5 pt-3">
                <div class="col-4">
                    <div class="image">
                        <img src="~/Theme/img/tt1.jpg" />
                    </div>
                </div>
                <div class="content col-8">
                    <a href="https://gongkinhdep.com/cac-kieu-dang-cua-mat-kinh-bolon-dang-gay-bao-hien-nay/">
                        Các kiểu dáng của mắt kính Bolon đang "gây bão" hiện nay?
                    </a>

                    <p>
                        Mắt kính ngày nay không chỉ đơn thuần để bảo vệ cho “cửa sổ tâm hồn” nữa.
                        Mắt kính ngày nay còn là một món phụ kiện thời trang không thể thiếu đối
                        với rất nhiều người. Một chiếc mắt kính hợp thời trang, sang trọng sẽ giúp
                        bạn đầy tự tin và phong thái […]
                    </p>
                </div>
            </div>

            <div class="row post mt-5 pt-3">
                <div class="col-4">
                    <div class="image">
                        <img src="~/Theme/img/sp2.jpg" />
                    </div>
                </div>
                <div class="content col-8">
                    <a href="https://gongkinhdep.com/top-5-gong-kinh-can-nam-sieu-nhe-2022/">
                        Top 5 gọng kính cận nam siêu nhẹ được chọn nhiều nhất 2022
                    </a>

                    <p>
                        Gọng kính cận nam siêu nhẹ và mỏng là giải pháp vô cùng tối ưu cho
                        những người cận nặng hoặc phải di chuyển thường xuyên. Bởi làm cho
                        chiếc kính trông mỏng và nhẹ hơn. Từ đó giúp người dùng thoải mái
                        khi sử dụng cũng như vận động. Gọng kính cận siêu mỏng […]
                    </p>
                </div>
            </div>

            <div class="row post mt-5 pt-3">
                <div class="col-4">
                    <div class="image">
                        <img src="~/Theme/img/tintuc2.jpg" />
                    </div>
                </div>
                <div class="content col-8">
                    <a href="https://gongkinhdep.com/cach-bao-ve-mat-vao-mua-mua-va-cach-cham-soc-mat-dung-cach/">
                        Cách bảo vệ mắt vào mùa mưa và cách chăm sóc mắt đúng cách
                    </a>

                    <p>
                        Nhiều người vẫn thường chú ý đến việc bảo vệ mắt khi đi nắng nhưng ít ai
                        để ý đến cách bảo vệ mắt vào mùa mưa. Đặc biệt những khu vực thành phố,
                        nước mưa ô nhiễm nặng, chứa nhiều vi khuẩn gây hại đến mắt. Vì thế bạn cần
                        biết cách bảo vệ […]
                    </p>
                </div>
            </div>

            <div class="row post mt-5 pt-3">
                <div class="col-4">
                    <div class="image">
                        <img src="~/Theme/img/tintuc4.jpg" />
                    </div>
                </div>
                <div class="content col-8">
                    <a href="https://gongkinhdep.com/bat-mi-5-meo-cham-soc-doi-mat-khoe-dep-ma-ai-cung-can-phai-biet/">
                        Bật mí 5 mẹo chăm sóc đôi mắt khỏe đẹp mà ai cũng cần phải biết
                    </a>

                    <p>
                        Cùng Gọng kính đẹp tìm hiểu cách chăm sóc đôi mắt trở nên khỏe mạnh và ngày
                        càng xinh đẹp hơn. Bởi ai cũng mong muốn được sở hữu một đôi mắt sáng, khỏe mạnh.
                        Quá trình chăm sóc sức khoẻ mắt như chăm sóc chính sức khỏe của mình vậy. Chính
                        vì thế bạn […]
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="right col-4">
        <h3 class="title">Bài viết gần đây</h3>
        <ul>
            <li>
                <div class="date">
                    <span>18</span>
                    <span>TH4</span>
                </div>
                <div class="link">
                    <a href="https://gongkinhdep.com/tat-tan-tat-thong-tin-ve-kinh-gia-can-ban-nen-biet/">
                        Thông tin về kính giả cận bạn nên biết
                    </a>
                </div>
                <div class="comment">
                    <span>Tính năng bình luận bị tắt</span>
                </div>
            </li>
            <li>
                <div class="date">
                    <span>13</span>
                    <span>TH4</span>
                </div>
                <div class="link">
                    <a href="https://gongkinhdep.com/cac-kieu-dang-cua-mat-kinh-bolon-dang-gay-bao-hien-nay/">
                        Các kiểu dáng của mắt kính Bolon đang "gây bão" hiện nay?
                    </a>
                </div>
                <div class="comment">
                    <span>Tính năng bình luận bị tắt</span>
                </div>
            </li>
            <li>
                <div class="date">
                    <span>10</span>
                    <span>TH4</span>
                </div>
                <div class="link">
                    <a href="https://gongkinhdep.com/cach-bao-ve-mat-vao-mua-mua-va-cach-cham-soc-mat-dung-cach/">
                        Cách bảo vệ mắt vào mùa mưa và cách chăm sóc mắt đúng cách
                    </a>
                </div>
                <div class="comment">
                    <span>Tính năng bình luận bị tắt</span>
                </div>
            </li>
        </ul>
        <div class="col-4" style="position: absolute; left: 0; margin-left: 5px;">
            <img src="~/Theme/img/aside.jpg" width="400" />
        </div>
    </div>
</div>