@model DOAN.Models.tblQuyen

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Thông tin chi tiết quyền truy cập</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Mã quyền:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaQuyen)
        </dd>

        <dt>
            Tên quyền:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenQuyen)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.MaQuyen }) |
    @Html.ActionLink("Danh sách", "Index")
</p>
